*{
    margin: 0px;
    padding: 0px;
    font-size: 1px;
}
body{
    background-color: rgb(30, 255, 255);
    overflow: hidden;
}
#container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(75, 75, 75);
}
.blocos{
    display: inline-block;
    position: relative;
    /* width: 1%;
    height: 1%; */
    background-color: lightseagreen;
    text-align: center;
    user-select: none;
}