*{
    margin: 0px;
    padding: 0px;
    font-size: 1px;
}
body{
    background-color: #20b2aa;
    overflow: hidden;
}
#container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #20b2aa;
}
.blocos{
    display: inline-block;
    position: relative;
    /* width: 1%;
    height: 1%; */
    background-color: #20b2aa;
    text-align: center;
    user-select: none;
}